<ul>
<li><%= link_to "Time table", admin_time_table_index_path %></li>
<li><%= link_to "Add edit time entries", admin_time_entries_path %></li>
<li><%= link_to "Add edit employees", admin_employees_path %></li>
</ul>
